@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Big+Shoulders+Display:wght@700;800;900&family=Chivo&family=DM+Serif+Display&family=Hanken+Grotesk:wght@500;700;800&family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Lexend+Deca&family=Lora:wght@400;700&family=Manrope:wght@800&family=Outfit:wght@300;400;700&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;900&family=Red+Hat+Text:wght@700&family=Space+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    color: white;
    font-size: 15px;
    font-family: "Lexend Deca";
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    width: 200px;
}
.card{
    background-color: #E28625;
    width: 326px;
    height: 442px;
    padding-left: 49px;
    padding-top: 49px;
    border-radius: 8px  8px 0 0;
}

.img{
    padding-bottom: 25px;
}


.h1{
    color: #F2F2F2;
    font-size: 40px;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-bottom: 25px;
}



.orange:hover{
    background-color: #e9aa66;
    border: 2px solid white;
    color: white;
    
}
.aqua:hover{
    background-color: #05aab5;
    border: 2px solid white;
    color: white;
}
.button{
    color: #E28625;
    font-size: 15px;
    font-family: "Lexend Deca";
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    width: 146px;
    height: 48px;
    border-radius: 30px;
    background-color: white;
}

.blue:hover{
    background-color: #1d9d9b;
    border: 2px solid white;
    color: white;
}